---
layout: default
excerpt: DOM Cloud adalah layanan hosting yang gratis dan open-source untuk aplikasi web anda. Mulai kembangkan aplikasi web anda sekarang!
color: '#079'
lang: id
---
<div>
  {% include home/1_hero.html %}
  {% include home/2_slider.html %}
  {% include home/3_features.html %}
  {% include home/4_install.html %}

  <div class="row g-0 flex-row-reverse">
    <div class="col-md-6 p-5 text-left d-flex flex-column justify-content-center">
      <p class="h4">Visi DOM Cloud</p>
      <p>DOM Cloud adalah layanan host inovatif, didesain sederhana dan transparan.</p>
      <p><a href="/about.html">Baca Tentang Kami</a> / <a href="https://github.com/domcloud/domcloud-id/#readme">Baca FAQ</a></p>
    </div>
    <div class="col-md-6 mt-3 h3 bg">
      <img src="/assets/icon.svg" alt="DOM Cloud Logo" class="w-50">
    </div>
  </div>
  <div class="p-4 text-center">
    <p><a class="btn btn-lg btn-secondary" href="https://portal.domcloud.id/id/register">Daftar Sekarang</a></p>
  </div>
</div>