<div class="row g-0 p-5" id="rcolor" style="background-color: white; text-shadow: 0px 0px 20px white;">
    <p class="h4 mb-5 text-center" id="plans">Berapa banyak target pengunjung website anda?</p>
    <div class="col-md-6 col-lg-8 bg">
        <input type="range" min="0.1" max="1" step="0.05" class="w-75" value="0" id="rinput">
        <p class="h3 my-3">~<span id="rval">100</span> pengunjung</p>
        <p><small>Untuk penggunaan rata-rata 256 KB / view</small></p>
    </div>
    <div class="col-md-6 col-lg-4 text-md-start text-center d-flex flex-column pt-5 pt-md-0 justify-content-center">
        <p>Cobalah<br> <span class="h2"><span id="rplan">Freedom</span></span></p>
        <p>Harga per tahun <b><span id="rprice">Gratis!</span></b> </p>
        <p id="rdesc">Tidak perlu mengeluarkan biaya! Cocok digunakan saat memulai website.</p>
        <p><a style="color: inherit;" href="/price.html">Lihat detail perbandingan paket</a></p>
    </div>
    <script>
        const rlist = [{
            "val": 4000,
            "plan": "Paket Freedom",
            "price": "Gratis!",
            "desc": "Gratis selamanya",
            "color": "black",
        }, {
            "val": 15000,
            "plan": "Paket Lite",
            "price": "Rp. 100.000",
            "desc": "Untuk website kecil",
            "color": "indigo",
        }, {
            "val": 50000,
            "plan": "Paket Kit",
            "price": "Rp. 300.000",
            "desc": "Untuk website berkembang",
            "color": "darkblue",
        }, {
            "val": 250000,
            "plan": "Paket Pro",
            "price": "Rp. 1.000.000",
            "desc": "Untuk website ambisius",
            "color": "lightblue",
        }];
        const lerpColor = function (a, b, amount) {
            const ar = a >> 16,
                ag = a >> 8 & 0xff,
                ab = a & 0xff,

                br = b >> 16,
                bg = b >> 8 & 0xff,
                bb = b & 0xff,

                rr = ar + amount * (br - ar),
                rg = ag + amount * (bg - ag),
                rb = ab + amount * (bb - ab);

            return (rr << 16) + (rg << 8) + (rb | 0);
        };
        var f = function (e) {
            var v = Math.ceil(Math.pow(e.target.value, 4) * 1000) * 250
            var t = rlist.findIndex(x => x.val >= v);
            document.getElementById('rval').innerText = v.toLocaleString();
            document.getElementById('rplan').innerText = rlist[t].plan;
            document.getElementById('rprice').innerText = rlist[t].price;
            document.getElementById('rdesc').innerText = rlist[t].desc;
            document.getElementById('rcolor').style.backgroundColor = '#' + lerpColor(0xffffff, 0x000020, e.target.value - 0.1).toString(16);
            document.getElementById('rcolor').style.color =  rlist[t].color;
            document.getElementById('rcolor').style.boxShadow = `inset 0 0 ${t}px ${t * 2}px ` + rlist[t].color;
        };
        f({
            target: {
                value: 0.1
            }
        });
        document.getElementById('rinput').oninput = f;
    </script>
</div>