<p class="h4 my-5 text-center">Install script sekali klik untuk banyak aplikasi dan framework</p>
<div class="row g-0 text-center">

    <div class="col-md-6 col-lg-3 py-5 text-white" style="background-color: #21759B;">
        <a
            href="https://portal.domcloud.id/start?from=https://raw.githubusercontent.com/domcloud/dom-templates/master/wordpress.yml">
            <img src="https://simpleicons.org/icons/wordpress.svg"
                style="max-height: 100px; object-fit: contain; filter: contrast(0) brightness(10);">
        </a>
        <div class="mt-3 h3">WordPress</div>
    </div>

    <div class="col-md-6 col-lg-3 py-5 text-white" style="background-color: #96588A;">
        <a
            href="https://portal.domcloud.id/start?from=https://raw.githubusercontent.com/domcloud/dom-templates/master/woocommerce.yml">
            <img src="https://simpleicons.org/icons/woo.svg"
                style="max-height: 100px; object-fit: contain; filter: contrast(0) brightness(10);">
        </a>
        <div class="mt-3 h3">WooCommerce</div>
    </div>

    <div class="col-md-6 col-lg-3 py-5 text-white" style="background-color: #0678BE;">
        <a
            href="https://portal.domcloud.id/start?from=https://raw.githubusercontent.com/domcloud/dom-templates/master/drupal.yml">
            <img src="https://simpleicons.org/icons/drupal.svg"
                style="max-height: 100px; object-fit: contain; filter: contrast(0) brightness(10);">
        </a>
        <div class="mt-3 h3">Drupal</div>
    </div>

    <div class="col-md-6 col-lg-3 py-5 text-white" style="background-color: #15171A;">
        <a
            href="https://portal.domcloud.id/start?from=https://raw.githubusercontent.com/domcloud/dom-templates/master/ghost.yml">
            <img src="https://simpleicons.org/icons/ghost.svg"
                style="max-height: 100px; object-fit: contain; filter: contrast(0) brightness(10);">
        </a>
        <div class="mt-3 h3">Ghost</div>
    </div>

    <div class="col-md-6 col-lg-3 py-5 text-white" style="background-color: #F45E3F;">
        <a
            href="https://portal.domcloud.id/start?from=https://raw.githubusercontent.com/domcloud/dom-templates/master/codeigniter.yml">
            <img src="https://simpleicons.org/icons/codeigniter.svg"
                style="max-height: 100px; object-fit: contain; filter: contrast(0) brightness(10);">
        </a>
        <div class="mt-3 h3">CodeIgniter</div>
    </div>

    <div class="col-md-6 col-lg-3 py-5 text-white" style="background-color: #FF2D20;">
        <a
            href="https://portal.domcloud.id/start?from=https://raw.githubusercontent.com/domcloud/dom-templates/master/laravel.yml">
            <img src="https://simpleicons.org/icons/laravel.svg"
                style="max-height: 100px; object-fit: contain; filter: contrast(0) brightness(10);">
        </a>
        <div class="mt-3 h3">Laravel</div>
    </div>

    <div class="col-md-6 col-lg-3 py-5 text-white" style="background-color: #D33C43;">
        <a
            href="https://portal.domcloud.id/start?from=https://raw.githubusercontent.com/domcloud/dom-templates/master/cakephp.yml">
            <img src="https://simpleicons.org/icons/cakephp.svg"
                style="max-height: 100px; object-fit: contain; filter: contrast(0) brightness(10);">
        </a>
        <div class="mt-3 h3">CakePHP</div>
    </div>

    <div class="col-md-6 col-lg-3 py-5 text-white" style="background-color: #000000;">
        <a
            href="https://portal.domcloud.id/start?from=https://raw.githubusercontent.com/domcloud/dom-templates/master/express.yml">
            <img src="https://simpleicons.org/icons/express.svg"
                style="max-height: 100px; object-fit: contain; filter: contrast(0) brightness(10);">
        </a>
        <div class="mt-3 h3">Express</div>
    </div>

    <div class="col-md-6 col-lg-3 py-5 text-white" style="background-color: #000000;">
        <a
            href="https://portal.domcloud.id/start?from=https://raw.githubusercontent.com/domcloud/dom-templates/master/nextdotjs.yml">
            <img src="https://simpleicons.org/icons/nextdotjs.svg"
                style="max-height: 100px; object-fit: contain; filter: contrast(0) brightness(10);">
        </a>
        <div class="mt-3 h3">Next.js</div>
    </div>

    <div class="col-md-6 col-lg-3 py-5 text-white" style="background-color: #00C58E;">
        <a
            href="https://portal.domcloud.id/start?from=https://raw.githubusercontent.com/domcloud/dom-templates/master/nuxtdotjs.yml">
            <img src="https://simpleicons.org/icons/nuxtdotjs.svg"
                style="max-height: 100px; object-fit: contain; filter: contrast(0) brightness(10);">
        </a>
        <div class="mt-3 h3">Nuxt.js</div>
    </div>

    <div class="col-md-6 col-lg-3 py-5 text-white" style="background-color: #663399;">
        <a
            href="https://portal.domcloud.id/start?from=https://raw.githubusercontent.com/domcloud/dom-templates/master/gatsby.yml">
            <img src="https://simpleicons.org/icons/gatsby.svg"
                style="max-height: 100px; object-fit: contain; filter: contrast(0) brightness(10);">
        </a>
        <div class="mt-3 h3">Gatsby</div>
    </div>

    <div class="col-md-6 col-lg-3 py-5 text-white" style="background-color: #092E20;">
        <a
            href="https://portal.domcloud.id/start?from=https://raw.githubusercontent.com/domcloud/dom-templates/master/django.yml">
            <img src="https://simpleicons.org/icons/django.svg"
                style="max-height: 100px; object-fit: contain; filter: contrast(0) brightness(10);">
        </a>
        <div class="mt-3 h3">Django</div>
    </div>

    <div class="col-md-6 col-lg-3 py-5 text-white" style="background-color: #000000;">
        <a
            href="https://portal.domcloud.id/start?from=https://raw.githubusercontent.com/domcloud/dom-templates/master/flask.yml">
            <img src="https://simpleicons.org/icons/flask.svg"
                style="max-height: 100px; object-fit: contain; filter: contrast(0) brightness(10);">
        </a>
        <div class="mt-3 h3">Flask</div>
    </div>

    <div class="col-md-6 col-lg-3 py-5 text-white" style="background-color: #F37626">
        <a
            href="https://portal.domcloud.id/start?from=https://raw.githubusercontent.com/domcloud/dom-templates/master/jupyter.yml">
            <img src="https://simpleicons.org/icons/jupyter.svg"
                style="max-height: 100px; object-fit: contain; filter: contrast(0) brightness(10);">
        </a>
        <div class="mt-3 h3">Jupyter Notebook</div>
    </div>

    <div class="col-md-6 col-lg-3 py-5 text-white" style="background-color: #CC0000;">
        <a
            href="https://portal.domcloud.id/start?from=https://raw.githubusercontent.com/domcloud/dom-templates/master/rails.yml">
            <img src="https://simpleicons.org/icons/rubyonrails.svg"
                style="max-height: 100px; object-fit: contain; filter: contrast(0) brightness(10);">
        </a>
        <div class="mt-3 h3">Ruby on Rails</div>
    </div>

    <div class="col-md-6 col-lg-3 py-5 text-white" style="background-color: #FF4088;">
        <a
            href="https://portal.domcloud.id/start?from=https://raw.githubusercontent.com/domcloud/dom-templates/master/hugo.yml">
            <img src="https://simpleicons.org/icons/hugo.svg"
                style="max-height: 100px; object-fit: contain; filter: contrast(0) brightness(10);">
        </a>
        <div class="mt-3 h3">Hugo</div>
    </div>

</div>
<p class="my-5 text-center"><a href="https://github.com/domcloud/dom-templates">Cari lebih banyak template</a></p>